* {
  margin: 0;
  border: 0;
  background-color: rgb(231, 236, 245);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background: rgb(27, 68, 145) url("assets/img/cabecalhoTSP.png") no-repeat center;
  background-size: 35%;
  z-index: 1000;
}

.infos {
  width: 100%;
  background:  rgb(231, 236, 245);            
  border-top: 1px solid  rgb(231, 236, 245);   
  border-bottom: 1px solid  rgb(231, 236, 245);
  padding: 12px 0;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;       
  
}

.principal {
  width: 80%;
  height: 400px;
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
}

.secundaria {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 300px;
}

.sec {
  flex: 1;
  height:400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  margin: 8px;
  text-decoration: none; 
  color: inherit;
}

.img1 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/garmanibw.webp");
  background-size: cover;
  background-position: center 38%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
}

.manchete1 {
  position: absolute;   
  bottom: 20px;         
  left: 25px; 
  top: 260px;            
  color: #ffffff;
  font-size: 40px;
  font-family: 'Bentham';
  background-color: transparent
}

.img2 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/lady-gaga-vma-2025.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.img3 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/ddddd-798x1200.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.img4 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/ralphlauren.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.manchetesec {
  position: absolute;   
  bottom: 15px;         
  left: 15px;  
  top: 300px;          
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bentham';
  background-color: transparent
}
.link-report:hover .img2,
.link-report:hover .img3,
.link-report:hover .img4 {
  opacity: 0.85;
}

.link-report:hover .manchete1,
.link-report:hover .manchetesec {
  text-decoration: underline;
  text-underline-offset: 6px;
}