* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
    background-color: rgb(228, 228, 255);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10%;
  background: rgb(27, 68, 145) url("assets/img/cabecalhoTSP.png") no-repeat center;
  background-size: 25%;
  z-index: 1000;
}

footer {
  color: rgb(27, 68, 145);
  text-align: center;
  padding: 40px 20px;
  margin-top: 40px;
}

.contatos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 12px 0;
}


.icone1 {
  background-image: url("./assets/img/ChatGPT\ Image\ 11_09_2025\,\ 22_30_36-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}

 .icone2 {
  background-image: url("./assets/img/ChatGPT\ Image\ 11_09_2025\,\ 22_30_36-instagram-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}
 .icone3 {
  background-image: url("./assets/img/ChatGPT\ Image\ 11_09_2025\,\ 22_30_36-whats-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}
.icone1:hover, .icone2:hover, .icone3:hover {
  opacity: .9;
}

.img1 {
  width: 300px;
  height: 300px;
  background:rgb(195, 195, 216) url("./assets/img/R.jfif");
  background-size: cover;
  background-position: center 38%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 100px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  margin-right: 10px;
}
.resumo {
  width: 800px;
  height: 300px;
  background-color: rgb(195, 195, 216);
  display: inline-block;
  border-radius: 10px;
}