* {
  margin: 0;
  border: 0;
  background-color: rgb(228, 228, 255);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 15%;
  background: rgb(27, 68, 145) url("assets/img/cabecalhoTSP.png") no-repeat center;
  background-size: 35%;
  z-index: 1000;
}

.infos {
  width: 100%;
            
  border-top: 1px solid  rgb(255, 255, 255);   
  border-bottom: 1px solid  rgb(255, 255, 255);
  padding: 12px 0;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  letter-spacing: 2px;
  
}

.infos :hover{
  text-decoration: underline;

}

.infos p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: rgb(27, 68, 145);
  letter-spacing: 1px;       
  
}

.principal {
  width: 80%;
  height: 400px;
  margin: 30px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 20px;
}

.secundaria {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 10px;
  margin-bottom: 300px;
}

.sec {
  flex: 1;
  height:400px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 10px;
  margin: 8px;
  text-decoration: none; 
  color: inherit;
}

.img1 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/garmanibw.webp");
  background-size: cover;
  background-position: center 38%;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.manchete1 {
  position: absolute;   
  bottom: 20px;         
  left: 25px;            
  color: #ffffff;
  font-size: 40px;
  font-family: 'Bentham';
  background-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.img2 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/lady-gaga-vma-2025.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.img3 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/19fa9cabc24d1889de41bd3710614461--victoria-secret-angels-victoria-secret-fashion-show.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.img4 {
  width: 100%;
  height: 100%;
  background: black url("./assets/img/ralphlauren.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  transition: opacity 0.3s ease;
}

.manchetesec {
  position: absolute;   
  bottom: 15px;         
  left: 55px;  
  color: #ffffff;
  font-size: 20px;
  font-family: 'Bentham';
  background-color: transparent;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.link-reportmain {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  
}

.link-reportmain:hover .img1,
.link-report:hover .img2,
.link-report:hover .img3,
.link-report:hover .img4 { opacity: 0.85; }


.link-reportmain:hover .manchete1,
.link-report:hover .manchetesec {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.centralizado{
  display: block;
  text-align: center;
  background: transparent;
  position: absolute;
  top: 0px;
  left: 70px;
}  
  
footer {
  color: rgb(27, 68, 145);
  text-align: center;
  padding: 40px 20px;
  margin-top: 40px;
}

.contatos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 12px 0;
}


.icone1{
  background-image: url("assets/img/ChatGPT%20Image%2011_09_2025,%2022_30_36-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}

 .icone2{
  background-image: url("assets/img/ChatGPT%20Image%2011_09_2025,%2022_30_36-instagram-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}
 .icone3{
  background-image: url("assets/img/ChatGPT%20Image%2011_09_2025,%2022_30_36-whats-Photoroom.png");
  width: 72px;               
  height: 72px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;   
  
}
.icone1:hover, .icone2:hover, .icone3:hover{
  opacity: .9;
}