* { margin: 0; border: 0; box-sizing: border-box; }


body { background-color: rgb(228, 228, 255); }
.container {
  max-width: 960px;    
  margin: 0 auto;       
  padding: 0 20px;      
}


header{
  position: fixed; top: 0; left: 0; right: 0;
  height: 80px;
  background: rgb(27,68,145) url("assets/img/cabecalhoTSP.png") no-repeat center;
  background-size: 550px auto;;
  z-index: 1000;
}
.container { margin-top: 120px; } 

h1{
  font-size: 40px;
  font-family: 'Bentham', serif;
  line-height: 1.2;
  text-align: center;              
  margin-bottom: 12px;
}

p{
  font-size: 16px; font-weight: 500;
  color: rgb(27, 68, 145); letter-spacing: 0.2px;
}


.introducao{
  color: #111; 
  font-size: 17px;
  line-height: 1.6;
  margin: 8px 0 16px;
  text-align: left;
}


.autor{
  color: #333;
  font-size: 14px;
  margin: 0px 0 20px;
  text-align: left;
}


.mainphoto{
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  background-image: url("assets/img/ralph-main.jpg"); 
  background-size: cover; background-position: center; background-repeat: no-repeat;
  border-radius: 10px;
  margin: 16px 0 20px;
}


.paraf{
  color: #111;
  font-size: 17px;
  line-height: 1.75;
  margin: 16px 0;
  text-align: left;
}


.askralph-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 24px 0 8px;
  flex-wrap: wrap; 
}


.askralph-app, .askralph-look {
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 600px;   
  height: 400px;      
  border-radius: 10px;
}

.ralph-bloco1{ background-image: url("./assets/img/rl-app-1.jpg"); }   
.ralph-bloco2{ background-image: url("./assets/img/rl-look-1.jpg"); }  


.creditofotos{
  color: #444; font-size: 14px;
  margin: 8px 0 20px;
  text-align: left;
}


.galeria{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px; 
  margin: 20px 0 30px;
}
.galeria div{
  border-radius: 12px; background-size: cover; background-position: top center;
  aspect-ratio: 3/4; 
  transition: transform .25s ease, filter .25s ease;
}
.galeria div:hover{ transform: scale(1.03); filter: brightness(0.9); }


.rl-g0{ background-image: url('./assets/img/rl-g0.jpg'); }
.rl-g1{ background-image: url('./assets/img/rl-g1.jpg'); }
.rl-g2{ background-image: url('./assets/img/rl-g2.jpg'); }
.rl-g3{ background-image: url('./assets/img/rl-g3.jpg'); }
.rl-g4{ background-image: url('./assets/img/rl-g4.jpg'); }
.rl-g5{ background-image: url('./assets/img/rl-g5.jpg'); }
.rl-g6{ background-image: url('./assets/img/rl-g6.jpg'); }
.rl-g7{ background-image: url('./assets/img/rl-g7.jpg'); }


footer{
  color: rgb(27, 68, 145); text-align: center;
  padding: 40px 20px; margin-top: 40px;
}
.contatos{
  display: flex; justify-content: center; align-items: center;
  gap: 16px; margin: 12px 0;
}
.icone1, .icone2, .icone3{
  width:72px; height:72px; display:inline-block;
  background-repeat:no-repeat; background-position:center; background-size:60%;
}
.icone1{ background-image: url("./assets/img/ChatGPT Image 11_09_2025, 22_30_36-Photoroom.png"); }
.icone2{ background-image: url("./assets/img/ChatGPT Image 11_09_2025, 22_30_36-instagram-Photoroom.png"); }
.icone3{ background-image: url("./assets/img/ChatGPT Image 11_09_2025, 22_30_36-whats-Photoroom.png"); }
.icone1:hover, .icone2:hover, .icone3:hover{ opacity:.9; }
